body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

a,
.call {
    color: #9e005d;
    text-decoration: none;
}

#app {
    padding: 10px;
    width: calc(100% - 20px);
    height: 100%;
}

#header {
    width: 100%;
}

    #header .search {
        float: left;
        width: 100%;
    }

        #header .search input {
            width: 100%;
            height: 40px;
        }

    #header .menu {
        float: left;
        margin: 10px 0 0 -10px;
        padding: 0;
        width: calc(100% - 40px);

        list-style: none;
    }

        #header .menu li {
            float: left;
            width: calc(33.3333333% - 1px);
            height: 80px;

            border-left: 1px solid #fff;

            background: #9e005d;
            color: #fff;
            text-shadow: none;
            text-align: center;
            line-height: 80px;
            cursor: pointer;
        }
        #header .menu li:first-child {
            width: 33.3333333%;

            border-left: none;
        }
        #header .menu li.active {
            background: #7A0147;
            font-weight: bold;
        }

    #header .settings-btn {
        position: relative;
        float: left;
        right: 0;
        margin: 10px -10px 0 0;
        width: 59px;
        height: 80px;

        border-left: 1px solid #fff;

        background: #9e005d;
        color: #fff;
        text-shadow: none;
        text-align: center;
        line-height: 80px;
        cursor: pointer;
        font-size: 20px;
    }

#content {
    float: left;
    width: 100%;
}

    /** List view **/
    #content .list-view {
        margin: 0;
        padding: 0;

        list-style: none;
    }

        #content .list-view li {
            float: left;
            margin: 0 0 10px 0;
            padding: 10px 0 0 0;
            width: 100%;

            border-top: 1px solid #aaa;
            cursor: pointer;
        }
        #content .list-view li:first-child {
            margin: 10px 0 10px 0;
            padding: 0;

            border-top: 0;
        }

            #content .list-view li .thumb {
                float: left;
                margin-right: 10px;
                width: 150px;
            }

            #content .list-view li * {
                display: block;
                float: left;
                width: calc(100% - 160px);

                font-size: 12px;
            }

            #content .list-view li .title {
                margin-bottom: 5px;

                font-size: 14px;
                font-weight: bold;
            }

    /** Details view **/
    #content .details-view {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        #content .details-view h2 {
            margin-bottom: 0;
            width: 70%;
        }

        #content .details-view .category {
            font-weight: bold;
        }

        #content .details-view ul {
            margin: 10px 0 0 0;
            padding: 0;
            width: 100%;

            list-style: none;
        }

        #content .details-view .images li {
            float: left;
            width: 100%;
        }

            #content .details-view .images li img {
                width: 100%;
            }

        #content .details-view .back {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            padding: 5px 10px;

            background: #9e005d;
            border-radius: 4px;
            color: #fff;
            text-shadow: none;
            cursor: pointer;
        }

    /** Settings view **/
    #content .settings-view {
        position: relative;
        display: none;
        margin: 20px 0 0 0;
    }

        #content .settings-view .back {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            padding: 5px 10px;

            background: #9e005d;
            border-radius: 4px;
            color: #fff;
            text-shadow: none;
            cursor: pointer;
        }

        #content .settings-view .save {
            position: relative;
            float: left;
            top: 40px;
            margin: 20px 0 0 0;
            width: 100%;
            height: 40px;

            line-height: 40px;
            text-align: center;
            background: #9e005d;
            border-radius: 4px;
            color: #fff;
            text-shadow: none;
            cursor: pointer;
        }

        #content .settings-view .settings {
            float: left;
            position: relative;
            top: 40px;
            width: 100%;
        }

            #content .settings-view .settings .input-wrapper {
                float: left;
                margin: 5px 0;
                width: 100%;
            }

                #content .settings-view .settings .input-wrapper label {
                    float: left;
                    display: block;
                    width: 50%;
                    height: 37px;

                    line-height: 37px;
                }

                #content .settings-view .settings .input-wrapper .ui-input-text {
                    float: right;
                    display: block;
                    margin: 0;
                    width: 45%;
                }

                    #content .settings-view .settings .input-wrapper .ui-input-text > .ui-input-text {
                        width: 100%;
                    }

@media only screen and (min-width: 768px) {
    #content .list-view {
        display: block !important;
        float: left;
        width: calc(35% - 1px);

        border-right: 1px solid #aaa;
    }

    #content .details-view {
        position: relative;
        display: block !important;
        float: left;
        top: 20px;
        left: 20px;
        width: calc(65% - 20px);
    }

        #content .details-view .back {
            display: none;
        }

        #content .details-view h2 {
            margin-top: 0;
        }
}